/*Etiqueta header*/
header {
    /*imagen de fondo*/
    background-image: url(../img/bg-hero.png);
    /*asignamos un posicionamiento central*/
    background-position: center;
    /*evitamos que se repita*/
    background-repeat: no-repeat;
    /*asignamos un tamaño auto-ajustable*/
    background-size: cover;

    font-family: 'Open Sans', sans-serif;
    text-shadow: 0px 3px 6px #00000080;
    text-align: right;
    color: #FFFFFF;
}

header h1 {
    font-size: 60px;
}

header h3 {
    font-size: 40px;
    font-weight: lighter;
}

#Proxima-Charla {
    background: #A4452C;
    padding: 100px;
    color:#FFFFFF;
}

#Proxima-Charla .wrapper {
    width: 800px;
    margin: auto;
}

.wrapper img {
    width: 25%;
}

.wrapper .texto {
    width: 70%;
    margin-left: 4%;
}

.wrapper img,.texto {
    display: inline-block;
    vertical-align: middle;
}

footer {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background: #000F08;
    color: #FFFFFF;
    padding: 20px;
}

i {
    font-size: 30px;
}